!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    %meta{:content => "width=device-width", :name => "viewport"}

    -#Favicon Options:
    -#Update favicon_base.png in /source and middleman-favicon-maker will generate all the versions you need on 'middleman build'
    -#OR, place favicon.ico and apple-touch-icon.png in /source and deactivate :favicon_maker in config.rb

    %title= data.page.title || "The art of Susan Gilbert"
    / Included CSS Files
    = stylesheet_link_tag "app"
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'
    = javascript_include_tag "vendor/custom.modernizr.js"

  %body{:class => page_classes}

    = partial "header"

    .row
      .large-12.columns
        .panel
          %h1{:class => "gallery-header"}= data.page.title
          - data.page.images.each_slice(3) do |row_images|
            .row
            - row_images.each do |image|
              .large-4.columns
                %a{:href => "http://#{image.flickr_url_prefix}_b.jpg"}
                  %img{:src => "http://#{image.flickr_url_prefix}_n.jpg", 
                          :title => "#{image.title}", :alt => "#{image.title}"}
                .caption
                  %h4= image.title + " (" + image.year.to_s + ")"
                  %p{:class => "media"}= "#{image.media}"
                  - if image.dimensions
                    %p{:class => "dimensions"}= "#{image.dimensions}"
        %hr
        %section{:role => "main", :class => "main"}= yield
    
    %hr
    
    = partial "footer"

    -# Application Javascript, safe to override
    = javascript_include_tag "app"

    -# Google Analytics
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));