---
title: The art of Susan Gilbert
subtitle: Artist, poet, and maker of cool things

Sections:
  - title: Selected works
    images:
      - title: In a time of drought
        fullsize: https://farm3.staticflickr.com/2911/14600508436_4a8147a867_o.jpg
        thumbnail: https://farm3.staticflickr.com/2911/14600508436_bdf4c4cd7c_n.jpg
      - title: Spinal sediment
        fullsize: images/galleries/Spinal_Sediment_collage.jpg
        thumbnail: https://farm8.staticflickr.com/7457/8954799171_a3c87e6756_n.jpg
      - title: Alone
        fullsize: images/galleries/Alone_collage.jpg
        thumbnail: images/galleries/Alone_face.jpg
      - title: Marking time
        fullsize: https://farm6.staticflickr.com/5524/14600508326_6f24774c7f_o.jpg
        thumbnail: images/galleries/Marking_Time_detail.jpg
      - title: Overlapping communities
        fullsize: images/galleries/Overlapping_Communities_collage.jpg
        thumbnail: https://farm8.staticflickr.com/7281/8741869019_562dd27ff1_n.jpg
      - title: Gesture
        fullsize: https://farm8.staticflickr.com/7060/6949735441_fdc3cf0ca4_o.jpg
        thumbnail: images/galleries/Gesture.jpg
      - title: Swallow
        fullsize: https://farm8.staticflickr.com/7057/6949735037_429db761be_o.jpg
        thumbnail: https://farm8.staticflickr.com/7057/6949735037_fdbcb76230_n.jpg
      - title: Natural habitat
        fullsize: https://farm8.staticflickr.com/7210/6803625398_2888bccef9_o.jpg
        thumbnail: https://farm8.staticflickr.com/7210/6803625398_088a7baecf_n.jpg
      - title: Beyond the rim
        fullsize: https://farm8.staticflickr.com/7180/6949734511_ecdd8bbaaf_o.jpg
        thumbnail: https://farm8.staticflickr.com/7180/6949734511_e4ea1818d7_n.jpg
      - title: Mother and child
        fullsize: https://farm6.staticflickr.com/5020/5463981570_a9ce95b1c7_o.jpg
        thumbnail: https://farm6.staticflickr.com/5020/5463981570_478d4d3911_n.jpg
      - title: Hairball
        fullsize: https://farm6.staticflickr.com/5097/5463380357_5e26dcf850_o.jpg
        thumbnail: https://farm6.staticflickr.com/5097/5463380357_04bdba2f5d_n.jpg
      - title: Reading between the leaves
        fullsize: https://farm6.staticflickr.com/5012/5470083938_9fa92c8376_o.jpg
        thumbnail: https://farm6.staticflickr.com/5256/5469491475_dc1e1ab5a1_n.jpg
      - title: From 53° 44′ N, 2° 42′ W By Way Of 45° 35′ N, 95° 55′ W
        fullsize: https://farm9.staticflickr.com/8356/8366785758_cbdf1c18e1_o.jpg
        thumbnail: https://farm9.staticflickr.com/8356/8366785758_6290dc07f0_n.jpg
      - title: A rare momentum
        fullsize: https://farm4.staticflickr.com/3327/3302343794_99b43a840d_o.jpg
        thumbnail: https://farm4.staticflickr.com/3327/3302343794_6d2dfbf24f_n.jpg
---

-#- title: Collaboration with Nic McPhee
-#  description: Stuff we made together
-#  images:
-#    - title: Things
-#      fullsize: http://farm1.staticflickr.com/9/14152989_df78bbe53b_o.jpg
-#      thumbnail: http://farm1.staticflickr.com/9/14152989_df78bbe53b_m.jpg
-#    - title: Things
-#      fullsize: https://farm8.staticflickr.com/7281/8741869019_b7532be8ec_o.jpg
-#      thumbnail: https://farm8.staticflickr.com/7281/8741869019_562dd27ff1_m.jpg
-#    - title: Things
-#      fullsize: http://farm1.staticflickr.com/9/14152989_df78bbe53b_o.jpg
-#      thumbnail: http://farm1.staticflickr.com/9/14152989_df78bbe53b_m.jpg

.row
  .panel
    %h1.gallery-header= data.page.title
    %p= data.page.subtitle

- current_page.data.Sections.each do |section|
  .row
    .panel
      %h1.gallery-header= section.title
      - if section.description
        %p= section.description
      %ul.flex-container
        - section.images.each do |image|
          .small-12.medium-6.large-3.columns
            %li.flex-item
              %a.gallery-link{ :href => "#{image.fullsize}", :title => "#{image.title} <small>by Susan Gilbert, photo by Nic McPhee</small>"}
                %img.gallery-image{:src => "#{image.thumbnail}"}
