---
title: Susan Gilbert
subtitle: Artist, poet, and maker of cool things

Sections:
  - title: Selected works
    images:
      - title: Metal!
        fullsize: https://farm6.staticflickr.com/5097/5463380357_5e26dcf850_o.jpg
        thumbnail: http://farm6.staticflickr.com/5097/5463380357_04bdba2f5d_m.jpg
      - title: Hair!
        fullsize: https://farm8.staticflickr.com/7057/6803624658_4bdf03e051_o.jpg
        thumbnail: http://farm8.staticflickr.com/7057/6803624658_a098ea2120_m.jpg
      - title: Metal!
        fullsize: https://farm6.staticflickr.com/5097/5463380357_5e26dcf850_o.jpg
        thumbnail: http://farm6.staticflickr.com/5097/5463380357_04bdba2f5d_m.jpg
      - title: Hair!
        fullsize: https://farm8.staticflickr.com/7057/6803624658_4bdf03e051_o.jpg
        thumbnail: http://farm8.staticflickr.com/7057/6803624658_a098ea2120_m.jpg
      - title: Metal!
        fullsize: https://farm6.staticflickr.com/5097/5463380357_5e26dcf850_o.jpg
        thumbnail: http://farm6.staticflickr.com/5097/5463380357_04bdba2f5d_m.jpg
  - title: Collaboration with Nic McPhee
    description: Stuff we made together
    images:
      - title: Things
        fullsize: http://farm1.staticflickr.com/9/14152989_df78bbe53b_o.jpg
        thumbnail: http://farm1.staticflickr.com/9/14152989_df78bbe53b_m.jpg
      - title: Things
        fullsize: https://farm8.staticflickr.com/7281/8741869019_b7532be8ec_o.jpg
        thumbnail: https://farm8.staticflickr.com/7281/8741869019_562dd27ff1_m.jpg
      - title: Things
        fullsize: http://farm1.staticflickr.com/9/14152989_df78bbe53b_o.jpg
        thumbnail: http://farm1.staticflickr.com/9/14152989_df78bbe53b_m.jpg
---

.row
  .panel
    %h1.gallery-header= data.page.title
    %p= data.page.subtitle

- current_page.data.Sections.each do |section|
  .row
    .panel
      %h1.gallery-header= section.title
      - if section.description
        %p= section.description
      %ul.flex-container
        - section.images.each do |image|
          .small-12.medium-6.large-3.columns
            %li.flex-item
              %a.gallery-link{ :href => "#{image.fullsize}", :title => "#{image.title} <small>by Susan Gilbert, photo by Nic McPhee</small>"}
                %img.gallery-image{:src => "#{image.thumbnail}"}
